.carousel-images{
  height: 52rem;
  width: 100%
}
.carousel-button{
  background-color: #124a9e;
  color: white;
  width: 10rem;
  height: 5rem;
  border: none;
  border-radius:7%;
}

.carousel-text{
  color: #124a9e;
}

.sr-only{
    display: none;
}