.carousel-images{
  height: 40rem;
  width: 100%
}
.carousel-button{
  background-color: #124a9e;
  color: white;
  width: 10rem;
  height: 5rem;
  border: none;
  border-radius:7%;
margin-inline: auto;
margin-top: 35rem;
}

.slides-last{
  margin-top: 35rem;
}
.carousel-button-end{
  margin-inline-end: auto;
}
.carousel-text{
  color: #124a9e;
}

.sr-only{
    display: none;
}

.carousel-large-text{
  font-size: 10rem;

}

.slides-large-text{
  font-size: 8rem;
}

.slides-large-text-top{
  line-height: normal;
  font-size: 8rem;
  color: white;
  margin-top: 2rem
}

