.top-form{
  margin-left: 20em;
}
.brand-top{
  
  margin-left: auto;
}

.whole-brand{
 justify-content: space-between;
}

.top-outline{
  border: solid 1px rgb(92, 91, 91);
}

.topbar-button{
 margin-right: auto
}